.banner{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;



}
.aboutMeBackground, .verticalBorder{
    border-right: 6px solid cornflowerblue; 
    background-color: skyblue;
    padding: 10px;
    vertical-align: middle;
  /* width: 40%; */
  /* height: auto; */
  /* width: auto; */
  /* display: flex; */
  /* flex-direction: column; */
margin: auto;  
}
Col, p{
    text-align: left;
}
 h4{
     text-align: center;
 }   
#welcomeSign{
    margin-left: 15px;
 width: 40px;
   height: 40px;
}
#horizontalBorder{
    
    border: none;
    border-top: 5px solid;
    color: brown;
    width: 100%;
    
} 
.profileImage{
    
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: auto; 
    box-shadow: 5px 5px 5px 1px #ccc;  
}
#caption{
    display: block; 
 
    text-align: center;

}
.carousel{
    width: 100%;
    height: 100%;
  /* display: block; */
  /* align-items: center; */
    margin: 20px auto;
  /* margin: auto; */
  ;
  
}
 @media only screen and (min-width: 300px) {
    .carousel {
        width: 600px;
        height: 600px; 
} 
 }
 
  .carousel-caption{ 
    
    position: absolute;
    right: 15%;
    bottom: 15px;
    left: 15%; 


   }  
   
   
#captionText{
    text-align: center;
    opacity: 1;
    /* font-size: 1px;    */  
}
@media only screen and (max-width: 375px) {
    #captionText {
        
        font-size: 15px;  
} 
 }


@media only screen and (min-width: 400px) {
    .carousel-control-prev,
.carousel-control-next {          
         
          bottom: 50%;
    
}  
 }
