.Name{
    display: flex;
    }

.top{
    width: 100;
    height: 50px;
    background-color:white;
    position: sticky; /*make top bar stays in the same place*/
    top: 0;
    display: flex; /*put several elements in the top box*/
    align-items: center;
    font-family:"Josefin Sans", sans-serif;
}

.topLeft, .topRight{
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}


.topCenter{
    flex: 6;
}
.topIcon{
    font-size: 20px;
    margin-right: 10px;
    color: #444;
    cursor: pointer;
}
.topList{
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style: none;
    
}
.topImgLeft{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor:pointer;
}
.topImgRight{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    
}
.topListItem{
    margin-right: 20px;
    font-size: 20px;
    font-weight: 300;
    
    cursor: pointer;
}